<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ClinicKG</title>

    <link rel="stylesheet" href="<c:url value=/resources/css/style.css">
    <script src="<c: url value =/resources/static/script.js"></script>

</head>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <img src="logo/logo.png" class="logo">
            <ul class="menu">
                <li><a href="/product/welcome.html" class="ssylka">Главная</a></li>
                <!-- <li><a href="#1" class="ssylka">Новости</a></li>
                  <li><a href="#2" class="ssylka">О нас</a></li>
                      <li><a href="#3" class="ssylka">Врачи</a></li> -->
                <li><a href="/product/kont.html" class="ssylka">Контакты</a></li>
            </ul>
            <div class="navigat">
                <a href="https://www.instagram.com/on_clinic.kg/?hl=ru"><img src="logo/i.png"width="40px" height="auto"></a>
                <a href="https://www.facebook.com/onclinic.kg/?ref=aymt_homepage_panel"><img src="logo/f.png" width="40px" height="auto"></a>
                <a href="https://wa.me/996702770570"><img src="logo/wa.png" width="40px" height="auto"></a>
            </div><div class="nav2">
            <button class="button"><a href = "/product/registr.html"><h3>Зарегистрироваться</h3></a></button>
            <button class="button"><a href = "/product/vhod.html"><h3>Вход</h3></a></button>
        </div>
        </nav>
    </div>
</header>
<br>
<div class="container">
        <span>
					<h1>Антиоксиданты: зачем они нужны и в каких продуктах содержатся</h1>
					<p>Слово «антиоксиданты» сегодня на устах у врачей, косметологов,
						клинических фармакологов и у тех людей, которые внимательно
						относятся к соб­ственному здоровью и не хотят стареть.
						Зачем эти вещества нужны нам и какие продукты способны их обеспечить?</p>
				</span>
    <div class="novosti">
        <img src="news/1.jpg" width="600px" height="auto">
    </div>
    <p>Наш организм – это огромная, хорошо отлаженная химическая лаборатория,
        в которой происходит множество всевозможных реакций.
        Все они имеют важное значение для обновления клеток, кроветворения и
        синтеза различных биологических субстанций. Они обеспечивают работу организма,
        производство энергии, передачу нервных сигналов к нашим мышцам.
        В этих реакциях участвуют и свободные радикалы, которые часто ругают за их агрессивный нрав.
        На самом деле без них работа нашего организма просто остановилась бы.<br><br>
        Свободный радикал – это атом или группа атомов, которые содержат один или
        несколько непарных электронов. Именно эти непарные электроны, как магнит,
        легко притягивают к себе другие молекулы. Свободные радикалы участвуют в
        производстве гормонов и активизируют необходимые для нашего организма ферменты,
        они задействованы в выработке энергии.Некоторые из них производятся нашей собственной
        иммунной системой и защищают нас от вирусов и бактерий. В небольшом количестве –
        они наши друзья и помощники, но, если их слишком много, становятся нашими врагами,
        которые вторгаются в отлаженные биохимические процессы и нарушают их течение.<br><br>
        Прежде всего лишние свободные радикалы окисляют липиды, из которых состоит защитная мембрана клеток.
        Оставшись без защиты, клетки либо гибнут, либо подвергаются мутациям.
        Эти агрессивные молекулы нарушают структуру белков, уничтожая их клеточные рецепторы.
        Такие поврежденные белки становятся невосприимчивыми к действию гормонов,
        не реагируют на сигнальные молекулы, а иммунная система распознает их как чужих и подвергает атаке.
        Последствия радикального окисления трагичны для организма. Он быстро стареет, разрушаются стенки сосудов,
        в крови увеличивается количество холестерина, возникают аутоиммунные заболевания,
        клеточные мутации приводят к развитию раковых опухолей.
    </p>
    <footer id="footer">

    </footer>
</div>
<!--<script src="static/script.js"></script>-->
</body>
</html>