<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ClinicKG</title>

    <link rel="stylesheet" href="<c:url value=/resources/css/style.css">
    <script src="<c: url value =/resources/static/script.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <img src="logo/logo.png" class="logo">
            <ul class="menu">
                <li><a href="/product/welcome.html" class="ssylka">Главная</a></li>
                <!-- <li><a href="#1" class="ssylka">Новости</a></li>
                  <li><a href="#2" class="ssylka">О нас</a></li>
                      <li><a href="#3" class="ssylka">Врачи</a></li> -->
                <li><a href="/product/kont.html" class="ssylka">Контакты</a></li>
            </ul>
            <div class="navigat">
                <a href="https://www.instagram.com/on_clinic.kg/?hl=ru"><img src="logo/i.png"width="40px" height="auto"></a>
                <a href="https://www.facebook.com/onclinic.kg/?ref=aymt_homepage_panel"><img src="logo/f.png" width="40px" height="auto"></a>
                <a href="https://wa.me/996702770570"><img src="logo/wa.png" width="40px" height="auto"></a>
            </div><div class="nav2">
            <button class="button"><a href = "/product/registr.html"><h3>Зарегистрироваться</h3></a></button>
            <button class="button"><a href = "/product/vhod.html"><h3>Вход</h3></a></button>
        </div>
        </nav>
    </div>
</header>
<br>
<div class="container">
        <span>
					<h1>Чем грозит передозировка витаминов?</h1>
				</span>
    <div class="novosti">
        <img src="news/2.png" width="600px" height="auto">
    </div>
    <p>Прежде, чем принимать витаминные препараты, убедитесь в том, что ваш организм действительно нуждается в их применении.
        Передозировка витаминов может носить более угрожающий характер, чем их недостаток.
        Гипервитаминоз - это группа симптомов, вызванные избытком витаминов в организме, чаще
        всего в результате Чем грозит передозировка витаминов передозировки. Он касается,
        прежде всего, жирорастворимых витаминов: А, D, E и K. Со слишком большим потреблением витаминов,
        растворимых в воде организм может справиться, выводя их вместе с мочой.
        Другая ситуация возникает при избытке жирорастворимых витаминов, они вызывают гипервитаминоз.<br><br>
        Избыток витамина D – имеет очень опасное действие. У взрослых проявляется тошнотой, рвотой, зудом кожи,
        болью головы и глаз, поносом, повышенным мочеиспусканием,
        а также отложением избыточного количества кальция в мягких тканях,
        в печени, почках, легких, сердце и кровеносных сосудах.
        Опасны последствия передозировки витамина D у беременных женщин и кормящих матерей.
        Они вызывают уродства плода, болезни костей у новорожденных.
        Слишком большие дозы витамина Е могут вызвать расстройство желудочно-кишечного тракта,
        чувство усталости и слабости, а также сонливость, головные боли, мышечную слабость, диплопию.
        Увеличенный запас витамина Е в сравнении с множеством других витаминов имеет меньше побочных эффектов.
        А ведет чаще всего неограниченное применение пищевых добавок.<br><br>
        Передозировка этого витамина бывает, но редко.

        Витамин А в слишком больших дозах может вызвать тошноту, нарушение зрения, усталость, тяжесть,
        раздражительность, отсутствие аппетита, рвоту, головную боль, выпадение волос, зуд, трещины и кровоточивость губ,
        замедленный рост у детей, шелушение кожи, язвы, нарушение костей, кровотечения, деформации черепа и лица,
        дисфункции сердца, почек, фиброз печени и центральной нервной системы. К избытку витамина.
        А ведет чаще всего неограниченное применение пищевых добавок.<br><br>
        Передозировка витамина K, регулирующий процесс свертывания крови, приводит к распаду эритроцитов и,
        следовательно, к анемии. Последствиями избытка этого элемента также является потливость и чувство жара,
        а у новорожденных - желтуха, и даже повреждения тканей головного мозга! Организм человека,
        особенно чувствителен к передозировке витамина с (так называемой аскорбиновой кислоте),
        которая содержится в основном в овощах и фруктах. Его избыток может привести к кристаллизации солей и
        образование камней в почках, а прием очень больших доз может привести к нарушениям в
        работе желудочно-кишечного тракта и нервной системы. Кроме того, избыток витамина С вызывает высыпания кожи.
        Его потребление в больших дозах плохо сказывается, особенно на следующую категорию людей: беременные женщины,
        больные сахарным диабетом, у людей с катарактой хрусталика и тромбофлебитом – вызывает гипервитаминоз.<br><br>

        Помимо вредного воздействия, избыток некоторых элементов, провоцирует снижение или потерю в организме других необходимых ему веществ.
        Таким образом, кроме последствий гипервитаминоза, наблюдается недостаточность минералов и других витаминов, влияющих на процессы,
        происходящие в организме. Правильный рацион питания поможет избежать приема специальных добавок, а также гипервитаминоза.
        Диетологи во всем мире, утверждают, что все необходимые элементы для полноценной работы организма, мы можем получить с повседневной пищей.

        Но если же, правильное питание является невозможным, врач-терапевт может назначить прием витаминных препаратов,
        обычно отечественных производителей. Эти препараты создаются для жителей региона, у которых наблюдаются одинаковые потребности в элементах.
        Данные препараты, проходят строгий контроль и проверку, чтобы они не приводили к гипервитаминозу.

        Есть категория препаратов, где суточные нормы витаминов, могут быть выше в десять, а то и в двадцать раз. Их нельзя применять,
        без консультации врача, иначе передозировку витаминов не избежать. Поэтому, перед тем, как вы включите в свой ежедневный рацион питания –
        витаминные добавки, следует проконсультироваться со специалистом. Не стоит использовать дополнительные добавки круглый год.
        Приемлемо их применять зимой и осенью: в остальное время года, наш рацион питания не нуждается во включении витаминных добавок.
        Также рекомендуется, в приеме синтетических витаминов, делать перерывы в каждые три-четыре недели,
        так как постоянный прием специальных добавок, может спровоцировать гипервитаминоз.
    </p>
    <footer id="footer">

    </footer>
</div>
<script src="script.js"></script>
</body>
</html>