<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ClinicKG</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <img src="logo/logo.png" class="logo">
            <ul class="menu">
                <li><a href="/product/welcome.html" class="ssylka">Главная</a></li>
                <!-- <li><a href="#1" class="ssylka">Новости</a></li>
                  <li><a href="#2" class="ssylka">О нас</a></li>
                      <li><a href="#3" class="ssylka">Врачи</a></li> -->
                <li><a href="/product/kont.html" class="ssylka">Контакты</a></li>
            </ul>
            <div class="navigat">
                <a href="https://www.instagram.com/on_clinic.kg/?hl=ru"><img src="logo/i.png"width="40px" height="auto"></a>
                <a href="https://www.facebook.com/onclinic.kg/?ref=aymt_homepage_panel"><img src="logo/f.png" width="40px" height="auto"></a>
                <a href="https://wa.me/996702770570"><img src="logo/wa.png" width="40px" height="auto"></a>
            </div><div class="nav2">
            <button class="button"><a href = "/product/registr.html"><h3>Зарегистрироваться</h3></a></button>
            <button class="button"><a href = "/product/vhod.html"><h3>Вход</h3></a></button>
        </div>
        </nav>
    </div>
</header>
<br>
<div class="container">
        <span>
					<h1>Ученые выяснили, почему сон полезен для больных людей</h1>
					<p>"Сон повышает эффективность работы Т-клеток и их реакцию на различные угрозы.
                        Это особенно важно сегодня, учитывая, как сильно распространены нарушения сна и различные проблемы,
                        которые ведут к ним, в том числе депрессия и стресс", — рассказывает Лючиана Беседовски
                        (Luciana Besedovsky) из Тюбингенского университета (Германия).</p>
				</span>
    <div class="novosti">
        <img src="news/3.jpg" width="600px" height="auto">
    </div>
    <p>Как сегодня считают ученые, мозг и гормональная система человека и
        всех остальных животных постоянно вырабатывает два типа сигналов –
        один из них заставляет организм спать, а другой – не дает ему заснуть.
        Колебания в силе этих сигналов, порождаемые суточными ритмами,
        заставляют нас засыпать ночью и просыпаться утром, и нарушения в их работе могут приводить
        к развитию бессонницы или нарколепсии.
        В последние годы биологи находят все больше следов того,
        что они влияют не только на желание поспать, но и на работу многих клеточных систем.
        В частности, нарушения сна оказались связаны с ускоренным развитием болезни Альцгеймера,
        быстрым старением всех клеток тела и многими другими серьезными проблемами со здоровьем.
        <br><br>
        Беседовски и ее коллеги открыли еще один интересный пример того, как сон влияет на работу организма,
        наблюдая за тем, как Т-клетки, главные "дирижеры" иммунной системы, распознавали зараженные клетки,
        прикреплялись и убивали их.
        Примерно десять лет назад, как отмечает медик, ученые выяснили, что наш организм вырабатывает два типа сигналов,
        влияющих на подобные формы активности Т-клеток. Часть из них, известная еще с середины прошлого века,
        стимулирует иммунитет, а другие, открытые недавно, наоборот, его подавляют.
        Немецких ученых интересовало то, какие именно "тормозящие" сигналы мешают этим тельцам соединяться
        с зараженными клетками и ликвидировать их. Для этого ученые собрали образцы крови у людей,
        зараженных относительно безобидным цитомегаловирусом, и проследили за тем, как Т-клетки,
        выращенные в разных условиях, будут атаковать их.
        Это помогло им выделить четыре типа веществ, в том числе половые гормоны простогландины,
        которые "перепрограммировали" Т-клетки таким образом, что они начинали производить меньше белков,
        помогающих им прицепляться к зараженным "клиентам".
        Анализируя свойства и происхождение этих сигнальных молекул,
        исследователи заметили одну их общую черту – концентрация всех этих "тормозов"
        иммунной системы заметным образом снижалась во сне.
        Руководствуясь этой идеей, ученые провели небольшой эксперимент,
        заручившись поддержкой нескольких десятков носителей вируса и здоровых людей.
        Разделив их на две группы, Беседовски и ее коллеги позволили одной из них вести нормальный образ жизни в их лаборатории,
        тогда как члены другой были полностью лишены сна.<br><br>
        Как показали наблюдения за ними, активность иммунитета у первой половины добровольцев заметно выросла во время сна,
        тогда как у второй команды участников опытов она осталась низкой. Это, как считают исследователи, может объяснять то,
        почему многим больным людям становится заметно легче после того, как они заснут.
        Сейчас Беседовски и ее коллеги пытаются понять, можно ли вызывать подобные изменения в работе организма искусственным путем.
        Подобные препараты не только помогут активнее бороться с инфекциями, но и могут усилить действие противораковой иммунотерапии.
    </p>
    <footer id="footer">

    </footer>
</div>
<script src="script.js"></script>
</body>
</html>