<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ClinicKG</title>
    <link rel="stylesheet" href="<c:url value=/resources/css/style.css">
    <script src="<c: url value =/resources/static/script.js"></script>ad>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <img src="logo/logo.png" class="logo">
            <ul class="menu">
                <li><a href="/product/welcome.html" class="ssylka">Главная</a></li>
                <!-- <li><a href="#1" class="ssylka">Новости</a></li>
                  <li><a href="#2" class="ssylka">О нас</a></li>
                      <li><a href="#3" class="ssylka">Врачи</a></li> -->
                <li><a href="/product/kont.html" class="ssylka">Контакты</a></li>
            </ul>
            <div class="navigat">
                <a href="https://www.instagram.com/on_clinic.kg/?hl=ru"><img src="logo/i.png"width="40px" height="auto"></a>
                <a href="https://www.facebook.com/onclinic.kg/?ref=aymt_homepage_panel"><img src="logo/f.png" width="40px" height="auto"></a>
                <a href="https://wa.me/996702770570"><img src="logo/wa.png" width="40px" height="auto"></a>
            </div><div class="nav2">
            <button class="button"><a href = "/product/registr.html"><h3>Зарегистрироваться</h3></a></button>
            <button class="button"><a href = "/product/vhod.html"><h3>Вход</h3></a></button>
        </div>
        </nav>
    </div>
</header>
<br>
<div class="container">
        <span>
					<h1>9 привычек, которые тормозят наш мозг:</h1>
				</span>
    <div class="novosti">
        <img src="news/4.jpg" width="600px" height="auto">
    </div>
    <div>
        <h3>1. Зависание в соцсетях</h3>
        <p>Не секрет, что постоянная прокрутка лент в Instagram, Facebook, «ВКонтакте» и других социальных сетях мешает нам сосредотачиваться.
            Мы получаем много самой разной информации за маленький промежуток времени, да еще и небольшими порциями.
            Для мозга такое поведение быстро становится привычным. Он постоянно перескакивает с задачи на задачу и ищет новое.
            Если же нужно внимательно поработать, приходится с большим трудом останавливаться и концентрироваться на чем-то одном.<br><br>
            <b> Что делать?</b><br>
            Почитать книгу, сходить на тренировку или заняться любой физической деятельностью.</p>
    </div>
    <div>
        <h3>2. Поиск всех ответов в интернете</h3>
        <p>Конечно, неограниченный доступ к информации значительно упростил нашу жизнь. Мы больше не сидим в библиотеках, выискивая нужные данные,
            и не тратим время на ксерокопирование книг.
            Но есть и другой момент. Психологи говорят о так называемом «эффекте Google»:
            когда мы знаем, что всю информацию всегда можно найти, задав вопрос в поисковике, мы быстро ее забываем.
            И, получается, автоматически отвыкаем использовать собственную память.<br><br>
            <b> Что делать?</b><br>
            В следующий раз, как только рука потянется спросить Google, как испечь печенье или сколько варить пельмени, попробуйте вспомнить мамины подсказки.</p>
    </div>
    <div>
        <h3>3. Работа во время болезни</h3>
        <p>Часто мы ходим в офис, не обращая внимания на насморк или кашель. Но подобное поведение чревато осложнениями.
            В периоды, когда иммунитет ослаблен, сердце работает с повышенной нагрузкой и мозг тоже нацелен на поддержание здоровья,
            а не на эффективность в труде. В итоге ни качественной работы, ни быстрого выздоровления.<br><br>
            <b> Что делать?</b><br>
            Заболели — отлежитесь дома, отдохните и хорошо пролечитесь. А потом с новыми силами уже за работу.</p>
    </div>
    <div>
        <h3>4. Отказ от общения</h3>
        <p>Коммуникация — очень важный способ развития мозга. Во время общения с разными людьми формируются новые нейронные связи.
            Если же человек привык отмалчиваться, мало говорит,
            ограничивается узким кругом общения, он этим самым ограничивает свое развитие.<br><br>
            <b> Что делать?</b><br>
            Если друзья приглашают на вечеринку — согласиться. И в следующий раз тоже.
            Так постепенно появится куча общих тем, которые можно обсуждать бесконечно.</p>
    </div>
    <div>
        <h3>5. Привычка мало спать и поздно просыпаться</h3>
        <p>Во время сна наш мозг активно работает, кодируя информацию. Короткий и некачественный сон влияет на нашу способность к обучению новому.

            Если вы мало спите, ложитесь за полночь, а потом и встаете поздно, это влияет на качество запоминания данных.
            Внимание становится более рассеянным, а память работает хуже.<br><br>
            <b> Что делать?</b><br>
            Наладить собственный ритм, в котором ночь будет для сна, а утро — для продуктивной работы.

        </p>
    </div>
    <div>
        <h3>6. Мысли о своем исключительном уме</h3>
        <p>Исследования Кэрол Двек, профессора психологии Стэнфордского университета, показывают: стоит очень осторожно хвалить людей.
            В частности, если петь восторженные оды не достижениям, а уму собеседника, со временем это может сыграть с ним злую шутку.
            И вот почему.

            Существуют 2 типа мышления: неподвижное и мышление роста.
            Люди с мышлением первого типа считают, что все свои способности получили с рождения,
            а принять неудачу — значит расписаться в собственной глупости. Поэтому они избегают ситуаций с повышенным риском.

            Люди с мышлением роста думают, что попытки делают их умнее. Неудача не выбивает их из колеи, а, наоборот, помогает проанализировать ошибки и в следующий раз больше стараться.<br><br>
            <b> Что делать?</b><br>
            Лучше считать себя не умным, а человеком, который еще многого не знает. Это действительно поможет стать умнее.</p>
    </div>
    <div>
        <h3>7. Частая проверка мессенджеров</h3>
        <p>Привычка постоянно проверять мессенджеры, почту,
            многозадачность и постоянное перепрыгивание с задачи на задачу делает нас глупыми.
            Мы постоянно отвлекаемся и потом дольше входим в рабочий ритм.<br><br>
            <b> Что делать?</b><br>
            Сосредоточиться на выполнении всего одного дела за раз. А переписку проверять раз в 3–4 часа, этого вполне достаточно.</p>
    </div>
    <div>
        <h3>8. Жевание жвачки</h3>
        <p>Ранее ученые считали, что жвачка сказывается позитивно на работе мозга. Ведь ее жевание повышает кровоток к мозгу и тем самым улучшает умственные функции.

            Но в последнее время исследователи заговорили, что в процессе жевания человек отвлекается от основной задачи — кратковременного запоминания.
            Например, ему сложнее выучить порядок предметов в списке.<br><br>
            <b> Что делать?</b><br>
            Жевать жвачку по дороге на работу или домой, если очень хочется. А во время самой работы лучше воздержаться.</p>
    </div>
    <div>
        <h3>9. Потребление жирной пищи</h3>
        <p>Слишком большая концентрация насыщенных жиров в пище мешает выработке дофамина — вещества, которое помогает клеткам мозга передавать сигналы. Еда, богатая жирами, отрицательно влияет на гибкость нашего ума, ухудшает память, замедляет время реакции. К тому же чем больше насыщенных жиров мы едим, тем больше нам их хочется и тем больше нужно съесть, чтобы получить удовлетворение.<br><br>
            <b> Что делать?</b><br>
            Ограничить потребление насыщенных жиров. Если уж очень хочется жирного, включите в меню больше полезных жиров: рыбы, оливкового масла, авокадо.</p>
    </div>

    <footer id="footer">

    </footer>
</div>
<!--<script src="script.js"></script>-->
</body>
</html>