<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ClinicKG</title>

    <link rel="stylesheet" href="<c:url value=/resources/css/style.css">
    <script src="<c: url value =/resources/static/script.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <img src="logo/logo.png" class="logo">
            <ul class="menu">
                <li><a href="/product/welcome.html" class="ssylka">Главная</a></li>
                <!-- <li><a href="#1" class="ssylka">Новости</a></li>
                  <li><a href="#2" class="ssylka">О нас</a></li>
                      <li><a href="#3" class="ssylka">Врачи</a></li> -->
                <li><a href="/product/kont.html" class="ssylka">Контакты</a></li>
            </ul>
            <div class="navigat">
                <a href="https://www.instagram.com/on_clinic.kg/?hl=ru"><img src="logo/i.png"width="40px" height="auto"></a>
                <a href="https://www.facebook.com/onclinic.kg/?ref=aymt_homepage_panel"><img src="logo/f.png" width="40px" height="auto"></a>
                <a href="https://wa.me/996702770570"><img src="logo/wa.png" width="40px" height="auto"></a>
            </div><div class="nav2">
            <button class="button"><a href = "/product/registr.html"><h3>Зарегистрироваться</h3></a></button>
            <button class="button"><a href = "/product/vhod.html"><h3>Вход</h3></a></button>
        </div>
        </nav>
    </div>
</header>
<br>
<div class="container">
    <b class = "text">Добро Пожаловать в ClinicKG</b>
    <p>
        Медицинский центр «ClinicaKG» открыт в 2009 году.
        <br><br>
        «ClinicaKG» — консультативно-диагностический центр, объединяющий неравнодушных, увлеченных своей профессией врачей и современные медицинские технологии. Преемственность и последовательность в диагностике, лечении и ведении пациента обеспечивается комплексным подходом к здоровью пациента и контролем со стороны личного лечащего доктора.
        <br><br>
        Основные принципы нашей работы — быстрое и качественное обследование, понятное и логичное изложение пациенту его проблем, адекватная, но не чрезмерная медикаментозная коррекция и профилактика наиболее распространенных заболеваний. Каждому пациенту мы гарантируем конфиденциальность и комфорт.
    </p>
    <hr>

    <b class = "text">4 причины для выбора нашего центра</b>
    <div class="wi">
        <div class="wir">
            <img src="about/sale.png" width="160px" height="auto">
            <h2>У НАС ДОСТУПНЫЕ, ПРИВЛЕКАТЕЛЬНЫЕ ЦЕНЫ.</h2>
            <h4>Мы постоянно проводим акции, а так же предоставляем множество возможностей получить скидку!</h4>
        </div>
        <div class="wir">
            <img src="about/clock.png" width="180px" height="auto">
            <h2>МЫ ЦЕНИМ ВАШЕ ВРЕМЯ.</h2>
            <h4>Вам не придется ждать в очереди. Мы работаем, когда другие уже закрыты</h4>
        </div>
        <div class="wir">
            <img src="about/auto.png" width="205px" height="auto">
            <h2>ЕСТЬ СВОЯ ПАРКОВКА ДЛЯ ПАЦИЕНТОВ.</h2>
            <h4>Это значит, что Вам не придется беспокоиться за автомобиль во время консультации (при наличии свободных мест)</h4>
        </div>
        <div class="wir">
            <img src="about/doc.png" width="160px" height="auto">
            <h2>ВРАЧИ С МНОГОЛЕТНИМ ОПЫТОМ РАБОТЫ.</h2>
            <h4>Они подробна расскажут Вам о состоянии Вашего здоровья и помогут вылечиться, не навязывая дополнительных услуг</h4>
        </div>
        <hr>
        <b class = "text">Порядок оказания медицинских услуг</b>

        1. Страховая компания (Страховщик) должна заключить с клиникой соответствующий договор, которым в том числе согласовывается программа страхования.<br><br>
        2. Пациент получает у Страховщика направление в медицинский центр «Медика» с указанием суммы и срока действия страхового полиса.<br><br>
        3. Клиника оказывает услуги застрахованному лицу строго в соответствии с программой, установленным страховой компанией лимитом и в сроки, указанные в направлении.<br><br>
        4. В процессе лечения в сроки, оговоренные договором, Клиника направляет Страховщику «Реестр предоставленных медицинских услуг», выставляет счета на оплату оказанных услуг.<br><br>

        <footer id="footer">

        </footer>
    </div>

    <!--<script src="script.js"></script>-->
</body>
</html>