<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>ClinicKG</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:if="${param.error}"> Invalid username and password.</div>-->
<!---->
<!--<div th:if="${param.logout}"> You have been logged out.</div>-->
<!---->
<!--<form th:action="@{/login}" method="post">-->
    <!--<div><label> Имя пользователя: <input type="text" name="username"/> </label></div>-->
    <!---->
    <!--<div><label> Пароль: <input type="password" name="password"/> </label></div>-->
    <!---->
    <!--<div><input type="submit" value="Sign In"/></div>-->
    <!---->
<!--</form>-->
<!---->
<!--</body>-->

<!--</html>-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ClinicKG</title>

    <link rel="stylesheet" href="<c:url value=/resources/css/style.css">
    <script src="<c: url value =/resources/static/script.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <img src="logo/logo.png" class="logo">
            <ul class="menu">
                <li><a href="/product/welcome.html" class="ssylka">Главная</a></li>
                <!-- <li><a href="#1" class="ssylka">Новости</a></li>
                  <li><a href="#2" class="ssylka">О нас</a></li>
                      <li><a href="#3" class="ssylka">Врачи</a></li> -->
                <li><a href="/product/kont.html" class="ssylka">Контакты</a></li>
            </ul>
            <div class="navigat">
                <a href="https://www.instagram.com/on_clinic.kg/?hl=ru"><img src="logo/i.png"width="40px" height="auto"></a>
                <a href="https://www.facebook.com/onclinic.kg/?ref=aymt_homepage_panel"><img src="logo/f.png" width="40px" height="auto"></a>
                <a href="https://wa.me/996702770570"><img src="logo/wa.png" width="40px" height="auto"></a>
            </div><div class="nav2">
            <button class="button"><a href = "/registration"><h3>Зарегистрироваться</h3></a></button>
            <button class="button"><a href = "/product/vhod.html"><h3>Вход</h3></a></button>
        </div>
        </nav>
        <!--</div>-->
        <!--</header>-->
        <!--<br>-->
        <!--<div class="container">-->
        <!--<label for="surname">ФИО</label>-->
        <!--<input type="text" id="surname"required><br><br>-->
        <!--<label for="date">Дата Рождения</label>-->
        <!--<input type="date"id="date"><br><br>-->
        <!--<label for="phone">Телефон</label>-->
        <!--<input type="number"id="phone"placeholder="Введите номер"><br><br>-->
        <!--<label for="email">E-mail</label>-->
        <!--<input type="email"id="email"><br><br>-->
        <!--<label for="password">Введите пароль</label>-->
        <!--<input type="password" id="password"><br><br>-->
        <!--<button type="submit">Отправить</button><br><br>-->
        <!--</div>-->
        <!--<script src="script.js"></script>-->
</body>
</html>